<%- include('header') %>
<div class="row justify-content-center">
  <div class="col-12">
    <h2 class="mb-2 page-title"><%= title %></h2>
    <div class="row my-4">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <form id="form-add" action="" method="post">
              <div class="form-group">
                <label for="nama_device">Nama Device</label>
                <input type="text" class="form-control" id="nama_device" name="nama_device">
              </div>
              <div class="form-group">
                <label for="no_wa">Nomor Whatsapp</label>
                <input type="text" class="form-control" id="no_wa" name="no_wa" placeholder="081xxxxx">
                <small class="font-italic">Anda harus memasukkan nomor yang masih aktif.</small>
                <div id="no_wa-info" class="is-invalid"></div>
              </div>
              <div class="form-group text-right">
                <input type="hidden" name="id_user" id="id_user" value="<%= id_user %>">
                <button class="btn btn-primary" type="submit" id="btn-add">Lanjut <i class="fe fe-chevrons-right"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div> <!-- simple table -->
    </div> <!-- end section -->
  </div> <!-- .col-12 -->
</div> <!-- .row -->

<script>
  $(document).ready(function() {
    $('#btn-add').on('click', function(e) {
      e.preventDefault()
      const form = $('#form-add')
      form.validate({
        errorElement: 'div',
        errorClass: 'is-invalid',
        rules: {
          nama_device: 'required',
          no_wa: {
            required: true,
            number: true
          }
        },
      })

      if (form.valid()) {
        $.ajax({
          type: form.attr('method'),
          url: form.attr('action'),
          data: form.serialize(),
          beforeSend: (res) => {
            $('#btn-add').prop('disabled', true)
          },
          success: (res) => {
            swal({
              title: 'Sukses',
              text: res.message,
              icon: 'success',
              closeOnClickOutside: false,
            }).then((value) => {
              if(value) {
                window.location.href = res.url
              }
            })
          },
          error: (xhr, status, pesan) => {
            $('#btn-add').prop('disabled', false)
            if(xhr.status == 400) {
            const res = xhr.responseJSON
            const message = res.message.map((val, i) => {
              $(`#${Object.keys(val)}-info`).text(Object.values(val)).css('display', 'block')
            })
          } else {
            swal({
              title: 'Error',
              text: pesan,
              icon: 'error',
              button: true
            })
          }
          }
        })
      }
    })
  })
</script>
<%- include('footer') %>