<%- include("head") %>
  <form class="col-lg-3 col-md-4 col-10 mx-auto" id="form-login">
    <div class="mx-auto my-4">
      <h2 class="my-3 text-center">
        <%= title %>
      </h2>
    </div>
    <div class="form-group">
      <label for="email" class="sr-only">Email address</label>
      <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Email address" required="" autofocus="">
    </div>
    <div class="form-group">
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Password" required="">
    </div>
    <div class="form-group">
      <div class="d-flex">
        <div class="custom-control custom-checkbox small" style="line-height: 1.5rem">
          <input type="checkbox" class="custom-control-input" id="remember" name="remember" />
          <label class="custom-control-label" for="remember">Ingkatkan Saya</label>
        </div>
        <div class="ml-auto small"><a href="/auth/forgot">Lupa Kata Sandi?</a></div>
      </div>
    </div>
    <button class="btn btn-primary btn-block" type="submit" id="btn-login">LOGIN</button>
    <div class="text-center mt-3">
      <a class="small" href="/auth/register">Belum punya Akun? Daftar Sekarang!</a>
    </div>
    <p class="mt-4 mb-3 text-muted text-center">&copy; 2023</p>
  </form>

  <script>
    $('#btn-login').on('click', function (e) {
      e.preventDefault()
      const form = $('#form-login')
      form.validate({
        errorElement: 'div',
        errorClass: 'is-invalid',
        rules: {
          email: {
            required: true,
            email: true,
          },
          password: 'required',
        },
      })

      if (form.valid()) {
        $.ajax({
          type: 'post',
          url: form.prop('action'),
          data: form.serialize(),
          beforeSend: (res) => {
            $('#btn-login').prop('disabled', true).text('Loading...')
          },
          success: (res) => {
            swal({
              title: "Sukses",
              text: 'Login berhasil',
              icon: 'success',
              timer: 1000,
              button: false
            }).then((value) => {
              window.location.href = `${SITE_URL}/dashboard`
            });
          },
          error: (xhr, status, pesan) => {
            $('#btn-login').html(`Login`).prop('disabled', false)
            if (xhr.status == 400) {
              const res = xhr.responseJSON
              const el = res.errors
              Object.keys(el).forEach((i, val) => {
                swal("Error", el[i].message, "error");
              })
            } else {
              console.log(xhr)
              swal("Error", pesan, "error");
            }
          }
        })
      }
    })
  </script>

  <%- include("footer") %>